@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

#front-main #postcodeForm div {
	input#pc {
		width: 74%;
	}
	input#sub {
		width: 26%;
	}
}

.nav-menu--mysoc {
  a {
    color: $primary_text;
    background-color: $primary;
  }
}
