[%

email_summary = "Du må bekrefte rapporten din på " _ site_name _ " før den kan bli sendt til ${ report.body }.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box %]
  <h1 style="[% h1_style %]">Vennligst bekreft rapporten din</h1>
  <p style="[% p_style %]">Vennligst klikk på lenken under for å bekrefte at du vil sende rapporten til [% report.body %].
[% IF c.cobrand.is_council && !c.cobrand.owns_problem( report ) %]
Vennligst legg merke til at [% c.cobrand.council_name %] ikke er ansvarlig for
denne typen rapporter, så den vil istedet bli sendt til [% report.body %].
[% END %]

[% TRY %][% INCLUDE '_problem-confirm_extra.html' %][% CATCH file %][% END %]
  </p>
  <p style="[% p_style %]">Rapporten din vil også vises på nettsiden til [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Ja, send rapporten</a>
  </p>
  <p style="[% p_style %]">Hvis du ikke lenger ønsker å sende denne rapporten, vennligst ikke gjør noe.</p>
  [% end_padded_box %]
</th>
[% WRAPPER '_email_sidebar.html' object = report, url = token_url %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
